<ion-header>
    <ion-toolbar>
      <ion-title>Chapcay-Chinies Food</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
          <ion-img src="/assets/chi.jpg"></ion-img>
          <ion-card-header>
            <p>Hallo..cina terkenal dengan kuliner nya yang turun temurun mulai dari zaman dinasti hingga sekarang
              contohnya mie. </p>
            <ion-card-title>Bahan-bahan </ion-card-title>
          </ion-card-header>

          <ion-card-content>
              <p>
                  1.-	1/2 kg wortel , 
                 - 1/2 kol, 
                 - 1/4 kembang kol , 
                 - 2 ikat sawi hijau.
                  
                  </p>
  
              <p> 2.	Bawang pre , 
                  2 butir telur
                                  
                </p> 
  
              <p> 3. 15 bakso di iris2 dan ,
                  1/4 daginh ayam d potong dadu
                  
 
                </p>   
  
              <p> 4. 3 sdm tepung maizena</p>
  
              <p> 5. -6 siung bawang putih dan ,-
                  8 siung bawang merah
                  </p>   
  
               <p>6.3 sdm sambal pedas (sy pake ABC)</p>   
  
               <p>7.1/2 sdt merica bubuk</p>  
  
              <P> 8. 4 sdm saori dan garam secukupnya</P> 
  
              
                <ion-card-title>Langkah Kerja </ion-card-title>
                
            <p>
                1.Kupas n cuci bersih sayur, potong sayur & wortel sesuai selera. Sisihka </p>
            <p>2.	Geprek bawang merah & putih, tumis. Setelah layu & harum masukan telur aduk-aduk. 
              Kmudian masukan ayam, aduk rata. Selanjutnya masukan bakso & wortel. Masukan merica. 
              Aduk-aduk...selanjutnys masukan sayur yg telah d potong2, tutup wajan agar sayur cepat layu/masak.</p>
                
               <p>3. Larutkan tepung maezena dengan 150ml air. 
                 Masukan ke sayur aduk-aduk, masukan saori + saos sambal. 
                 Aduk rata..turunkan.</p> 
              <p>4.Sebelum d sajikan..tambahkan garam secukupnya. Siap santap
                  .</p>
     
            
      
              <ion-tabs>
                <ion-tab-bar slot="bottom">
                 <ion-tab-button tab="tab1">
                   <ion-icon name="flash"></ion-icon>
                   <ion-button expand="block" routerLink="/tabs/tab1" routerDirection="root">
                     home
                     </ion-button>
                 </ion-tab-button>
             
             
                 <ion-tab-button tab="tab3">
                   <ion-icon name="send"></ion-icon>
                   <ion-item>
                     <ion-button expand="block" routerLink="/tabs/tab2" routerDirection="root">
                     kembali
                     </ion-button>
                   </ion-item>    </ion-tab-button>
               </ion-tab-bar>
             
             </ion-tabs>
           
  
          </ion-card-content>
         
         
         </ion-content>
  