<ion-header>
  <ion-toolbar>
    <ion-title>
      Share 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-img src="/assets/kor.jpg"></ion-img>
 <ion-list>
    <ion-item>
      <ion-input [(ngModel)]="text" placeholder="Enter text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="img" placeholder="Enter img"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="url" placeholder="Enter url"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="file" placeholder="Enter file"></ion-input>
    </ion-item>
  
  <ion-item>
    <ion-button full (click) ="share()">share</ion-button>
  </ion-item>
  <ion-item>

  </ion-item>
     
  <ion-tabs>
        
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="tab1">
        <ion-icon name="flash"></ion-icon>
        <ion-button expand="block" routerLink="/tabs/tab1" routerDirection="root">
          home
          </ion-button>
        </ion-tab-button>
      <ion-tab-button tab="tab3">
        <ion-icon name="app"></ion-icon>
          <ion-button expand="block" routerLink="/tabs/tab1" routerDirection="root">
            kembali
          </ion-button>
        </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>
        
</ion-list>

</ion-content>
