<ion-header>
  <ion-toolbar>
    <ion-title>Ikan Bakar Dabu2</ion-title>
  </ion-toolbar>   
</ion-header>

<ion-content>
        <ion-img src="/assets/khas4.jpg"></ion-img>
        <ion-card-header>
          <ion-card-title>Bahan-bahan </ion-card-title>
        </ion-card-header>
        


        <ion-card-content>
            <p>
              1.	Ikan</p>

            <p>2.	2 buah tomat iris tipis2 dan ,
            	4 butir bawang merah rajang
              </p> 

            <p> 3.Secukupnya cabe rawit iris tipis2</p>   

            <p> 4	Kemangi iris tipis2 :</p>

            <p> 5. Perasan jeruk, dan
          	Garam
              </p>   

             <p>6. Penyedap rasa</p>   

             <p>7.Minyak panas</p>  

           
              <ion-card-title>Langkah Kerja </ion-card-title>
          <p>
              1.	Bakar ikan terlebih dahulu, 
            	Lalu campurkan srmua bahan ke dalam wadah
               </p>
          <p>2.	Panaskan minyak</p>
              
             <p>3.	Lalu siramkanke semua bahan</p> 
           <p> 4.		Lalu taburkan di atas ikan bakarnya
 
          </p>  
           <p> 5.		Ikan bakar dabu2 siap dihidangkan dengan nasi hangat ,dan 	Selamat mencoba
            
            <ion-tabs>
              <ion-tab-bar slot="bottom">
               <ion-tab-button tab="tab1">
                 <ion-icon name="flash"></ion-icon>
                 <ion-button expand="block" routerLink="/tabs/tab1" routerDirection="root">
                   home
                   </ion-button>
               </ion-tab-button>
           
              
               <ion-tab-button tab="tab3">
                 <ion-icon name="send"></ion-icon>
                 <ion-item>
                   <ion-button expand="block" routerLink="/khas" routerDirection="root">
                   kembali
                   </ion-button>
                 </ion-item>    </ion-tab-button>
             </ion-tab-bar>
           
           </ion-tabs>
           </p> 

        </ion-card-content>
       
       
       </ion-content>
