<ion-header>
  <ion-toolbar>
    <ion-title>
     world Food 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list fill="outline">
    <ion-list-header>
      <ion-label fill="outline">Menu</ion-label>
    </ion-list-header>
    <ion-item class="item-thumbnail-left">
        <img src="assets/flag/jpn.png">
      <ion-button fill="outline" routerLink="/jpn" routerDirection="root">
      1.Japan-Cicken Teriyaki
      </ion-button>
    </ion-item>
    <ion-item class="item-thumbnail-left">
        <img src="assets/flag/kor.png">
      <ion-button fill="outline" routerLink="/kor" routerDirection="root">
      2.Korea-TTheobokki
      </ion-button>
    </ion-item>
    <ion-item class="item-thumbnail-left">
        <img src="assets/flag/chi.png">
      <ion-button fill="outline" routerLink="/cin" routerDirection="root">
      3.China-Chapcay
      </ion-button>
    </ion-item>
    <ion-item class="item-thumbnail-left">
        <img src="assets/flag/thi.png">
      <ion-button fill="outline" routerLink="/thi" routerDirection="root">
      4. Thailan-ThomYum
      </ion-button>
    </ion-item>
    <ion-item class="item-thumbnail-left">
      <img src="assets/flag/may.png">
    <ion-button fill="outline" routerLink="/may" routerDirection="root">
      5. Malaysia-Laksa Ikan
    </ion-button>
     </ion-item>
     <ion-item class="item-thumbnail-left">
      <img src="assets/flag/phi.png">
     <ion-button fill="outline" routerLink="/phi" routerDirection="root">
      6.Philipines-Spaghetti filipin
      </ion-button>
     </ion-item>
     <ion-item class="item-thumbnail-left">
      <img src="assets/flag/bru.png">
     <ion-button fill="outline" routerLink="/bru" routerDirection="root">
      7.Brunei D-Cumi angeun jodha
      </ion-button>
     </ion-item>
    
     <ion-item class="item-thumbnail-left" href="https://cookpad.com">
      <img src="assets/cok.png">
      <ion-button onclick="alert('Menu ini butuh koneksi internet!!!')">lihat Resep Lebih</ion-button>
    </ion-item>
    

      <ion-item>

      </ion-item>

  </ion-list>

</ion-content>
