<ion-header>
  <ion-toolbar>
    <ion-title>
      Referal Link Resep
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img src="/assets/atlas.png"></ion-img>
     <ion-card-header>  
        <ion-card-title>Referensi Link Resep FoodCenter</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p> Berikut Daftar Referensi Lin Tentang resep masakan asia yang bisa anda 
          cari untuk menambah pengetahuan resep masakan dunia.
        </p>
      </ion-card-content>
  
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Link</ion-label>
      </ion-list-header>
      <ion-item href="https://cookpad.com/id">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>cookpad.com/id</ion-label>
      </ion-item>
      <ion-item href="https://eresep.com">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>resep.com</ion-label>
      </ion-item>
      <ion-item href="https://Saijansedap.com">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Saijansedap.com</ion-label>
      </ion-item>
      <ion-item href="https://Resepkoki.co">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Resepkoki.co</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
