<ion-header>
    <ion-toolbar>
      <ion-title>Tteobokki-Korean Food</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
          <ion-img src="/assets/jpn.jpg"></ion-img>
          <ion-card-header>
            <p>Anyonghaseyo..korea terkenal denga masakan terlezat didunia.Tteobokki adalah masakan tradisional korea yang terkenal bukan hanya di korea tapi di dunia
              .Masakan yang berbahan kue beras ini sangat enak dinikmati pada saat panas.Berikut bahan dan cara membuatnya .. </p>
            <ion-card-title>Bahan-bahan </ion-card-title>
          </ion-card-header>

          <ion-card-content>
              <p>
                  1.	-1 sendok Tepung sagu , -
                      sendok Tepung beras
                  </p>
  
              <p> 2.	7 buah Sosis (potong2) , 
                      -secukupnya Baso (potong2), 
                      
                </p> 
  
              <p> 3. - 2 buah Telur rebus lalu bagi , 
                  -Daun bawang
 
                </p>   
  
              <p> 4. Biji wijen (opsional)</p>
  
              <p> 5.Minyak wijen</p>   
  
               <p>6.Kecap asin</p>   
  
               <p>7.	2 sendok minyak wijen</p>  
  
              <P> 8.  Saos tiram dan Penyedap</P> 
  
              
                <ion-card-title>Langkah Kerja </ion-card-title>
                <ion-card-title>Tteobokki biasanya dimasak selama 30 menit. berikut langkah membuat nya</ion-card-title>
            <p>
                1.Siapkan wadah,masukkan tepung beras dan tepung sagu,sedikit garam,dan beri sedikit air panas.
                Aduk hingga kalis dan mudah untuk dibentuk            </p>
            <p>2.	Siapkan nampan,taburi sedikit tepung beras.
              Ambil kepalan kecil,lalu dipilin sehingga bentuknya memanjang.</p>
                
               <p>3. Siapkan panci untuk merebus air,ketika sudah matang masukkan adonan tadi.
                 Rebus 5 menit lalu angkat dan rendam di air matang,diamkan selama 1 jam agar topokki menjadi keras.</p> 
              <p>4.  Siapkan mangkok lalu masukkan boncabe,penyedap,minyak wijen,kecap asin dan saos tiram,aduk rata.

                  Siapkan wajan dengan air 3 gelas,setelah mendidih masukkan bumbu tadi dan aduk rata.Tambahkan gula dan garam
                  .</p> 
               <p>5.  Setelah tercampur rata,masukkan sosis,baso dan topokki yang sudah dipotong -potong.
                 Tunggu hingga bumbu meresap lalu taburi potongan daun bawang dan biji wijen.Semoga bermanfaat.</p> 
     
            
      
              <ion-tabs>
                <ion-tab-bar slot="bottom">
                 <ion-tab-button tab="tab1">
                   <ion-icon name="flash"></ion-icon>
                   <ion-button expand="block" routerLink="/tabs/tab1" routerDirection="root">
                     home
                     </ion-button>
                 </ion-tab-button>
             
             
                 <ion-tab-button tab="tab3">
                   <ion-icon name="send"></ion-icon>
                   <ion-item>
                     <ion-button expand="block" routerLink="/tabs/tab2" routerDirection="root">
                     kembali
                     </ion-button>
                   </ion-item>    </ion-tab-button>
               </ion-tab-bar>
             
             </ion-tabs>
           
  
          </ion-card-content>
         
         
         </ion-content>
  