<ion-header>
    <ion-toolbar>
      <ion-title>Masakan Khas Nusantara</ion-title>
     
    </ion-toolbar>
  </ion-header>
  <ion-content>
      <ion-card class="welcome-card">
          <ion-img src="/assets/indokue.jpeg"></ion-img>
          <ion-card-header>
            <ion-card-title>Berikut Daftar Aneka Kue Teratas Nusantara</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Resep-resep  Aneka kue nusantara </p>
          </ion-card-content>
        </ion-card>
        <ion-list fill="outline">
          <ion-list-header>
            <ion-label fill="outline">Menu</ion-label>
          </ion-list-header>
          <ion-item class="item-thumbnail-left">
              <img src="assets/kue1new.jpg">
            <ion-button fill="outline" routerLink="/kue1" routerDirection="root">
            1.Bolu Pandan Mekar
            </ion-button>
          </ion-item>
          <ion-item class="item-thumbnail-left">
              <img src="assets/kue2new.jpg">
            <ion-button fill="outline" routerLink="/kue2" routerDirection="root">
            2.Brownies Cookies
            </ion-button>
          </ion-item>
          <ion-item class="item-thumbnail-left">
              <img src="assets/kue3new.jpg">
            <ion-button fill="outline" routerLink="/kue3" routerDirection="root">
            3.Nastar Keju (lumer)
            </ion-button>
          </ion-item>
          <ion-item class="item-thumbnail-left">
              <img src="assets/kue4new.jpg">
            <ion-button fill="outline" routerLink="/kue4" routerDirection="root">
            4. Bolu Pandan Jadul
            </ion-button>
          </ion-item>
          
         
          <ion-item class="item-thumbnail-left" href="https://cookpad.com">
            <img src="assets/cok.png">
            <ion-button onclick="alert('Menu ini butuh koneksi internet!!!')">lihat Resep Lebih</ion-button>
          </ion-item>
      
            <ion-item>
  
            </ion-item>
            
        <ion-tabs>
  
            <ion-tab-bar slot="bottom">
              <ion-tab-button tab="tab1">
                <ion-icon name="flash"></ion-icon>
                <ion-button expand="block" routerLink="/tabs/tab1" routerDirection="root">
                  home
                  </ion-button>
              </ion-tab-button>
          
            
                
          
              <ion-tab-button tab="tab3">
                <ion-icon name="app"></ion-icon>
                <ion-item href="https://google.com">
                  <ion-icon name="app" ></ion-icon>
                  <ion-button fill="outline">internet</ion-button>
                </ion-item> </ion-tab-button>
            </ion-tab-bar>
          
          </ion-tabs>
         
        </ion-list>
    
  
  
  
       </ion-content>