<ion-header>
  <ion-toolbar>
    <ion-title>Pepes/botok Pare*</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
        <ion-img src="/assets/khas1.jpg"></ion-img>
        <ion-card-header>
          <ion-card-title>Bahan-bahan </ion-card-title>
        </ion-card-header>
        


        <ion-card-content>
            <p>
                1.	2 buah pare</p>

            <p> 2.	50 gram teri kecil</p> 

            <p> 3.	150 gram kelapa parut yg agak muda</p>   

            <p> 4.	Bumbu halus :</p>

            <p> 5.	5 siung bawang putih</p>   

             <p>6.	6 siung bawang merah</p>   

             <p>7.	8 cabe merah keriting</p>  

            <P> 8.	6 cabe rawit merah</P> 

            <p> 9.	3 cabe hijau keriting,iris</p>   

             <p>10.	2 ruas kencur</p>   

            <p>11.	Secukupnya garam </p> 
           <p> 12.	Secukupnya gula</p> 

               <p> 13.	Secukupnya daun pisang dan lidi/tusuk gigi
              </p>
              <ion-card-title>Langkah Kerja </ion-card-title>
          <p>
              1.	Siapkan bahan, belah jadi 2 pare,buang bagian tengahnya,
              iris tipis,beri garam lalu remas2 sampai agak layu,cuci bersih,tiriskan. 
              endam teri dengan air hangat sebentar lalu tiriskan. Haluskan bumbu : cabe,bawang putih,kencur,gula dan garam
          </p>
          <p>2.	Campur dalam wadah : pare,teri dan cabe hijau iris,tambahkan kelapa parut 
              lalu tambahkan bumbu halus,aduk rata dan cek rasa</p>
              
             <p>3.	Siapkan daun pisang dan lidi/tusuk gigi, ambil selembar daun pisang lalu 
                taruh adonan pare sebanyak 1 1/2 atau 2 sendok makan diatasnya</p> 
             
           <p> 4.	Lalu bungkus bentuk pepes/botok,semat dengan lidi. 
              Lakukan itu sampai adonan pare terbungkus semua lalu kukus selama 25 menit/sampai matang
             </p>  
           <p> 5.	Lalu angkat,biarkan sampai hangat/dingin lalu sajikan.
            <ion-tabs>
              <ion-tab-bar slot="bottom">
               <ion-tab-button tab="tab1">
                 <ion-icon name="flash"></ion-icon>
                 <ion-button expand="block" routerLink="/tabs/tab1" routerDirection="root">
                   home
                   </ion-button>
               </ion-tab-button>
           
               <ion-tab-button tab="tab3">
                 <ion-icon name="send"></ion-icon>
                 <ion-item>
                   <ion-button expand="block" routerLink="/khas" routerDirection="root">
                   kembali
                   </ion-button>
                 </ion-item>    </ion-tab-button>
             </ion-tab-bar>
           
           </ion-tabs>
           </p> 

        </ion-card-content>
       
       
       </ion-content>
