<ion-header>
  <ion-toolbar>
    <ion-title>Seblak mercon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
        <ion-img src="/assets/khas5.jpg"></ion-img>
        <ion-card-header>
          <ion-card-title>Bahan-bahan </ion-card-title>
        </ion-card-header>
        


        <ion-card-content>
            <p>
              1.	macaroni spiral, dan
            	sosis sapi
              </p>

            <p> 2.ayam suir dan 
              	1 butirtelur ayam
              </p> 

            <p> 3. 	1 siung bawang bombai iris tipis, dan 	5 siunh bawang merah, iris
              </p>   

            <p> 4. 1 butir bawang putih :</p>

            <p> 5.	cabe secukupnya, iris tipis dan 
            	2 sacset saos
              </p>   

             <p>6. 1 sacset masako</p>   

             <p>7. 	1 sdt garem dan 	1 sdt gula putih
              </p>  

            <P> 8.	Sdm  saos, 1/2 lada hitam </P> 

            <p> 9. kecap scukupnya</p>   

             <p>10. Kencur 1ruas jari haluskan</p>   

           
              <ion-card-title>Langkah Kerja </ion-card-title>
          <p>
            1.	Rebus macaroni ga perlu lama2 trus angkat tiriskn, sosis, cikua rebus sebentar </p>
          <p>2.	Tumis bawang bombai, bwg merah, bwg putih, cabe, kencur, masukan air secukupnya, masukan macaroni aduk2,telur, garem, masako, kecap, saus lada hitam. Saus sambel, 
            Masak sampai mndidih, mateng dh</p>
              
             
            <ion-tabs>
              <ion-tab-bar slot="bottom">
               <ion-tab-button tab="tab1">
                 <ion-icon name="flash"></ion-icon>
                 <ion-button expand="block" routerLink="/tabs/tab1" routerDirection="root">
                   home
                   </ion-button>
               </ion-tab-button>
           
               <ion-tab-button tab="tab3">
                 <ion-icon name="send"></ion-icon>
                 <ion-item>
                   <ion-button expand="block" routerLink="/khas" routerDirection="root">
                   kembali
                   </ion-button>
                 </ion-item>    </ion-tab-button>
             </ion-tab-bar>
           
           </ion-tabs>
       

        </ion-card-content>
       
       
       </ion-content>
