
<ion-header>
    <ion-toolbar>
      <ion-title>Nastar Keju (lumer)</ion-title>
    </ion-toolbar>   
  </ion-header>
  
  <ion-content>
          <ion-img src="/assets/kue3.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Bahan-bahan </ion-card-title>
          </ion-card-header>
          
  
  
          <ion-card-content>
              <p>
                  1.-700 gr terigu (saya pake kunci biru), dan 
                  -	150 gr gula halus
                  </p>
  
              <p>2.	500 gr mentega (saya pake 300 gr wisjman 200 gr blueband)
                </p> 
  
              <p> 3.	100 gr keju parut (saya pake nya prochiz)
                </p>   
  
              <p> 4.	4 kuning telur, 
                    	4 sdm susu bubuk, 
                    	1 sdt vanila.
                  </p>
  
              <p> 5.	1 kg selai nanas yg sudah dibentuk bulat2 kecil
                </p>   
  
               <p>6.	Untuk toping: ,
                  	3 kuning telur bebek , 
                	1 kuning telur ayam.
                  
                </p>   
  
  
             
                <ion-card-title>Langkah Kerja </ion-card-title>
            <p>
                1.	Kocok mentega, vanili, dan gula sampe menteganya bener2 lembut dan bewarna pucat </p>
            <p>2.	Setelah bener2 lembut, tambahkan telur satu per satu.	Masukkan keju parut, aduk sampe rata. Boleh pake mixer, boleh jg pake spatula
                </p>
                
               <p>3.	Masukkan susu bubuk, dilanjutkan dengan terigu. Sedikit2 ya Mbak2 syantik. 
                 Terus aduk smp rata. Gambar berikut ini bentukan akhirnya
                  </p> 
             <p> 4.	Silakan dibentuk sesuai selera ya Mbak2 syantik. Kalo sy lebih suka bentuk bulat klasik. lalu 
                	Baru deh dioles dengan kuning telur bebek dicampur kuning telur ayam bagian atasnya. Taburi keju secukupnya. Sesuai selera.
                
                
            </p>  
             <p> 7.	Panggang di oven. Kurang lebih 50 menit,
                krn sy pake oven tangkring dan hanya menggunakan bagian tengah oven saja dan selesai.
                 
                </p>
                
              <ion-tabs>
                <ion-tab-bar slot="bottom">
                 <ion-tab-button tab="tab1">
                   <ion-icon name="flash"></ion-icon>
                   <ion-button expand="block" routerLink="/tabs/tab1" routerDirection="root">
                     home
                     </ion-button>
                 </ion-tab-button>
             
                 <ion-tab-button tab="tab2">
                   <ion-icon name="apps"></ion-icon>
                   <ion-label>internet</ion-label>
                 </ion-tab-button>
             
                 <ion-tab-button tab="tab3">
                   <ion-icon name="send"></ion-icon>
                   <ion-item>
                     <ion-button expand="block" routerLink="/materi" routerDirection="root">
                     kembali
                     </ion-button>
                   </ion-item>    </ion-tab-button>
               </ion-tab-bar>
             
             </ion-tabs>
            
  
          </ion-card-content>
         
         
         </ion-content>
  
  
