<ion-header>
    <ion-toolbar>
      <ion-title>Spaghetti-philines Food</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
          <ion-img src="/assets/phi.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Bahan-bahan </ion-card-title>
          </ion-card-header>

          <ion-card-content>
              <p>
                  1.300 gram pasta spaghetti dan 
                  1 buah bawang bombay, potong kotak kecil
                  

                  </p>
  
              <p> 2.5 siung bawang putih, cacah halus dan ,
                  1 sdm margarin dan ,
                  secukupnya Minyak goreng
                  
            
                </p> 
  
              <p> 3. 500 gram daging sapi cacah ,
                  8 buah sosis sapi, iris tipis ,
                  6 sdm (125 mL)saus tomat
  
                </p>   
  
              <p> 4.3 sdm tomato paste dan ,
                  1 sdm tepung terigu serba guna, cairkan dengan 100 mL air
                  
                  
                  </p>
  
              <p> 5.250 mL kaldu ayam atau sapi (saya ganti dengan air dan kaldu bubuk) ,-
                  100 mL susu putih UHT Full Cream ,-
                  2 sdm gula pasir
                  
                  
                  </p>   
  
               <p>6.Garam dan merica secukupnya , dan
                  secukupnya Trasi
                  
                  </p>   
             <p>7.1 sdt daun kering oregano atau herb lainnya seperti thyme, rosemary dan 
                Keju parut
                
                      
                      </p> 
            
  

                <ion-card-title>Langkah Kerja </ion-card-title>
                
            <p>
                1.– Panaskan margarin dan sedikit minyak. Tumis bawang bombay dan bawang putih hingga harum .
                – Tambahkan daging dan masak hingga berubah warna terlihat matang
                </p>
            <p>2.– Tambahkan sosis dan aduk rata .  
                – Tambahkan saus tomat dan tomato paste. Masak sebentar
                
                </p> 
                
               <p>3. – Tuang kaldu, air tepung dan susu  . 
                  – Bumbuhi dengan garam, merica, gula dan daun kering oregano
                  .</p> 
              <p>4.– Masak dengan api kecil selama 30 menit. Aduk sesekali supaya tidak hangus. 
                     Tambahkan air bila terlalu kental .  
                  – Koreksi rasa.
                  </p>
                  <p>5.– Rebus pasta hingga matang dan beri minyak supaya tidak lengket . 
                      – Ambil seporsi spaghetti dan beri saus nya. Beri topping keju parut . 
                      – Sajikan.
                      </p>
     
            
      
              <ion-tabs>
                <ion-tab-bar slot="bottom">
                 <ion-tab-button tab="tab1">
                   <ion-icon name="flash"></ion-icon>
                   <ion-button expand="block" routerLink="/tabs/tab1" routerDirection="root">
                     home
                     </ion-button>
                 </ion-tab-button>
             
             
                 <ion-tab-button tab="tab3">
                   <ion-icon name="send"></ion-icon>
                   <ion-item>
                     <ion-button expand="block" routerLink="/tabs/tab2" routerDirection="root">
                     kembali
                     </ion-button>
                   </ion-item>    </ion-tab-button>
               </ion-tab-bar>
             
             </ion-tabs>
           
  
          </ion-card-content>
         
         
         </ion-content>
  