<ion-header>
  <ion-toolbar>
    <ion-title>Cicken Teriyaki-Japan Food</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
        <ion-img src="/assets/jpn.jpg"></ion-img>
        <ion-card-header>
          <ion-card-title>Bahan-bahan </ion-card-title>
        </ion-card-header>
        


        <ion-card-content>
            <p>
                1.	cicken 500 gram ayam dada fillet</p>

            <p> 2.	-1 buah bawang bombay , 
                    -3 buah cabe merah, 
                    
              </p> 

            <p> 3.-1 gelas air putih , 
                  Bumbu Rendam Ayam 
                
              </p>   

            <p> 4. 1 sendok mentega :</p>

            <p> 5.	2 sendok saos tiram</p>   

             <p>6.	2 sachet saos lada hitam</p>   

             <p>7.	2 sendok minyak wijen</p>  

            <P> 8.  1 sachet ladaku</P> 

            <p> 9. 2 sendok tepung maizena</p>   

             <p>10.-3 siung Bawang putih,garam</p>   
              <ion-card-title>Langkah Kerja </ion-card-title>
          <p>
              1.Potong ayam dada fillet seperti dadu-dadu lalu 
              rendam dengan bumbu rendam ayam lalu masukan ke dalam kulkas 30 menit
          </p>
          <p>2.	Siapkan minyak goreng tumis cabe merah, bawang putih, dan bawang bombay lalu 
            masukan ayam yg sudah direndam dengan bumbu rendam ayam</p>
              
             <p>3. Masak hingga matang dan mendidih lalu siap disajikan</p> 
             
          
    
            <ion-tabs>
              <ion-tab-bar slot="bottom">
               <ion-tab-button tab="tab1">
                 <ion-icon name="flash"></ion-icon>
                 <ion-button expand="block" routerLink="/tabs/tab1" routerDirection="root">
                   home
                   </ion-button>
               </ion-tab-button>
           
           
               <ion-tab-button tab="tab3">
                 <ion-icon name="send"></ion-icon>
                 <ion-item>
                   <ion-button expand="block" routerLink="/tabs/tab2" routerDirection="root">
                   kembali
                   </ion-button>
                 </ion-item>    </ion-tab-button>
             </ion-tab-bar>
           
           </ion-tabs>
         

        </ion-card-content>
       
       
       </ion-content>
